:root {
    --primary-color: linear-gradient(to right, #ff66ff 0%, #cc66ff 100%);;
    --blur: 10px;
  }

body{
    background: var(--primary-color);
    height:50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: white;
    width:400px;
    height:530px;
    position:absolute;
    display:flex;
    flex-direction: column;
    align-items: center;
    box-shadow:5px 5px 5px 5px rgb(23, 25, 39) ;
    left:400px;
    top:70px;
    

}
form{
    
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:30px;
    padding-bottom:70px;
    margin-top: -50px;
}
form input{
    width:93%;
    padding:10px;
    margin-bottom:10px;
    border-radius:5px ;
    border:1px solid rgb(141, 148, 185);
    opacity:.5;
}
.sub_cont{
   
   display:flex;
   flex-direction: row;
   gap:7px;
}

input:hover{
    box-shadow: 5px 5px rgb(141, 148, 185);
}
button{
    position:absolute;
    top:480px;
    width:60%;
    height:30px;
    border-radius:3px;
    background:var(--primary-color);
    color:white;
    font-weight:900;
    outline-style:outset;
    border:0;
    
}
button::after{
    content:'\2192';
    
    margin-left:10px;
    opacity:0;
}
button:hover{
    background: linear-gradient(to right, #9900cc 0%, #cc99ff 100%);;
    color:black;
    transition: all ease .5s;
    border:0;
    outline: none;
    
}
button:hover::after{
    opacity:1;
    padding-left:20px;
    transition:all ease 1s;
}
h1{
    color:gray;
}
h1:before {
    
    right: 0.5em;
    margin-left: -50%;
    background-color: gray;
 content: "";
 display: inline-block;
 height: 1px;
 margin-bottom:10px;
 margin-right:10px;
 width: 50%;
   }
   h1:after {
    left: 0.5em;
    margin-right: -50%;
    background-color: gray;
 content: "";
 display: inline-block;
 height: 1px;
 margin-bottom:10px;
 margin-left:10px;
 width: 50%;
   }
   #para{
    position: absolute;
    top:60px;
    color:rgb(141, 148, 185);
   }

   .check{
    display: inline-block;
   }
  .signin{
    position: absolute;
    margin-top:590px;
    margin-left:-90px;
    display:inline;
  }
  a{
    color:red;
  }
  label{
   display: none;
    
    
    
  }
  input:focus{

    
    pointer-events: none;
    transform: translateY(7px);
    transition: all ease-in-out 0.5s;
    border:0;
    outline:none;
    border-bottom: 1px solid rgb(214, 82, 181);
    

  }
  input:focus::placeholder{
     font-size:10px;
  }
  .sign-container{
    width:400px;
    height:200px;
    background-color: white;
    padding:30px;
   
  }
 
  #submit{
    position: absolute;
    top:400px;
    width:190px;
  }